POSTGRES_DB=collabdocs
POSTGRES_USER=Your_DB_User
POSTGRES_PASSWORD=Your_DB_Password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DB_NAME=collabdocs
DB_USER=Your_DB_User
DB_PASSWORD=Your_DB_Password
DB_HOST=localhost
DB_PORT=5432